@import url('tachyons/css/tachyons.css');

:root {
  /* Sane default values */
  --visual-color: #000;
  --visual-modulation-frequency: 100ms;
}

@keyframes sineBg {
  to { background: var(--visual-color); }
}

.ave-screen {
  animation: sineBg var(--visual-modulation-frequency) alternate infinite ease-in-out;
}
